
<p class='p-project'><h1>Listing Milestones</h1></p><br>
<% if @milestones.count == 0 %>
  Your project requires some planning! <br>
<% else %>
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Due date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @milestones.each do |milestone| %>
        <tr>
          <td class="vert-align"><%= link_to milestone.name, project_milestone_path(@project, milestone), class: 'btn btn-link' %></td>
          <td class="vert-align"><%= milestone.due_date %></td>
          <% if milestone.status == 'Completed' %>
            <td class="vert-align"><%= milestone.status %></td>
          <% end %>
          <td class="vert-align"><%= link_to 'Remove', project_milestone_path(@project, milestone), method: :delete, data: { confirm: 'Are you sure? All associated tasks will be deleted too.', class: 'btn btn-danger' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'New Milestone', new_project_milestone_path(@project), class: 'btn btn-primary' %>

