<div class="row">
  <div class="col-xs-4">
    <div class="align">
   <p><strong>Project Leader:</strong></p>
   <p><%= @project.user.email %></p>
   <br>
   <p><strong>Description:</strong></p>
   <p><%= @project.description %></p>

   <% if current_user == @project.user %>
      <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-custom' %> 
   <% end %>
    </div>
    </div>

  <div class="col-xs-8 offset4">
   <div class='milestones'>
    <div class="row">
    <br>
    <p>
      <h3>Milestone: <%= @milestone.name %></h3>
    </p>

    <p>
      <strong>Due date:</strong>
      <%= @milestone.due_date %>
    </p>

    <% if !@milestone.completion_date.nil? %>
      <p>
        <strong>Completion date:</strong>
        <%= @milestone.completion_date %>
      </p>
    <% end %>

    <p>
      <strong>Status:</strong>
      <%= @milestone.status %>
    </p>

    <%= link_to 'Edit', edit_project_milestone_path(@project, @milestone), :class => 'btn btn-custom' %> 
    <%= link_to 'Back', project_milestones_path(@project), :class => 'btn' %>

    <br><br><br>
    <%= render template: 'tasks/index' %>
    <br><br><br>

    <% if @comments.count != 0 %>  
      <%= render template: 'comments/index' %>
    <% end %>
    </div>
    </div>
  </div>
</div>