
<p>
  <h2>Milestone: <%= @milestone.name %></h2>
</p>

<p>
  <strong>Due date:</strong>
  <%= @milestone.due_date %>
</p>

<% if !@milestone.completion_date.nil? %>
  <p>
    <strong>Completion date:</strong>
    <%= @milestone.completion_date %>
  </p>
<% end %>

<p>
  <strong>Status:</strong>
  <%= @milestone.status %>
</p>

<%= link_to 'Edit', edit_project_milestone_path(@project, @milestone) %> |
<%= link_to 'Back', project_milestones_path(@project) %>

<br><br><br>
<%= render template: 'tasks/index' %>
<br><br>

<% if @comments.count != 0 %>  
  <h4>Comments</h4>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Created At</th>
        <th>Comment</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.creator_email %></td>
          <td><%= comment.created_at %></td>
          <td><%= comment.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>