<h4>Comments</h4>

<% if @comments.count != 0 %>
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Created At</th>
        <th>Comment</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td class="vert-align"><%= comment.creator_email %></td>
          <td class="vert-align"><%= comment.created_at %></td>
          <td class="vert-align"><%= comment.comment %></td>
          <% if current_user.email == comment.creator_email %>
            <td class="vert-align"><%= link_to 'Remove', project_milestone_task_comment_path(@project, @milestone, @task, comment), method: :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Add Comment', new_project_milestone_task_comment_path(@project, @milestone, @task) %>
