<%= form_for [@project, @etherpad] do |f| %>
  <% if @etherpad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@etherpad.errors.count, "error") %> prohibited this file from being saved:</h2>

      <ul>
      <% @etherpad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "btn btn-custom" %>
    <%= link_to 'Back', project_etherpads_path(@project), class: 'btn' %>
  </div>
<% end %>
