<div class="row">
  <div class="col-xs-4">
    <div class="align">
   <p><strong>Project Leader:</strong></p>
   <p><%= @project.user.email %></p>
   <br>
   <p><strong>Description:</strong></p>
   <p><%= @project.description %></p>

   <% if current_user == @project.user %>
      <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-custom' %> 
   <% end %>
    </div>
    </div>
<div class="col-xs-8 offset4">
<br>
  <div class="files">
  <p><h3>Listing Files</h3></p><br>
  <% if @etherpads.count == 0 %>
    Your project has no files. Get started! <br>
  <% else %>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Creator</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @etherpads.each do |etherpad| %>
          <tr>
            <td class="vert-align"><%= link_to etherpad.name, project_etherpad_path(@project, etherpad), class: "btn btn-link" %></td>
            <td class="vert-align"><%= etherpad.creator %></td>
            <td class="vert-align">
            <%= link_to 'Edit', edit_project_etherpad_path(@project, etherpad), class: 'btn btn-custom' %>
            <%= link_to 'Destroy', project_etherpad_path(@project, etherpad), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= link_to 'New File', new_project_etherpad_path(@project), class: "btn btn-custom" %>
</div>
</div>
</div>